<h1 id="questioncollectingwords">Question: Collecting Words. 150 points</h1>

<h4 id="youaregivenasinputalistofwordsandanintegerxyouwanttocollectasmanywordsasyoucanbuteachbraincellcanonlyrememberonewordyouonlyhavexbraincellsonceacellremembersaworditcannotforgetitanditcannotbereassignedtorememberadifferentwordyouareallowedtostartanywhereinthislistofwordsbutyoucanonlymovetotherightandyoumuststopifyoueitherrunoutofbraincellsorrunoutofwordsfindthemaximumnumberofundistinctwordsyoucanassigntoyourbraincells">You are given as input, a list of words, and an integer x. You want to collect as many words as you can, but each brain cell can only remember one word. You only have x brain cells. Once a cell remembers a word, it cannot forget it and it cannot be re-assigned to remember a different word. You are allowed to start anywhere in this list of words, but you can only move to the right, and you must stop if you either run out of brain cells or run out of words. Find the maximum number of (undistinct) words you can assign to your brain cells.</h4>

<h5 id="examplegiventesttimtim1return2sinceweassignthewordtimtoour1braincelltwicegivenabccbee2return4becausewecanassignbandctoour2braincellseachwithmultiplicityof2">Example: Given (["Test", "Tim", "Tim"], 1), return 2 since we assign the word "Tim" to our 1 brain cell twice. Given (["A", "B", "C", "C", "B", "E", "E"], 2) return 4 because we can assign B and C to our 2 brain cells, each with multiplicity of 2.</h5>

<h5 id="implement">Implement:</h5>

<p>public int maxAssignments(String[] words, int numBrainCells) {
}</p>