<html>
<head>
<title>CTF Question 1</title>
</head>
<body>
<h1>CTF Question 1</h1>
<h4>Question:</h4>
<p>Tim Z wants to send a message in the groupchat to ask Anurag to play fortnite; however, he does not want Tim Wang to see the message since he's garbage. Tim Z hasn't heard of dms so he is going to perform the diffie helman key exchange to send an encrpypted message to Anurag. Tim and Anurage will use p = 1319, g = 13. Tim picks a = 79 and Anurag picks b = 114. What does Tim send in the chat if he XOR's the shared secret with the message "Lets play fornite"?</p>
<h4>Submission:</h4>
<form action="">
Answer: <input type="text" name="submission" value=""><br>
<input type="submit" value="Submit">
</form>
<p>&#169; DMM, 2018</p>
</body>
</html>