<html>
<head>
<title>CTF Question 3</title>
</head>
<body>
<h1>CTF Q3: Nick's Diary (100 points)</h1>
<h4>Question:</h4>
<p>Nick likes to keep a diary with all of his deepest, darkest secrets. However, the possibility of Dylan getting his hands on this diary is Nick's WORST nightmare. In order to prevent dylan from reading his secrets, Nick makes sure to encrypt all of them. You know that Nick likes to use his favorite song, Flamingo, to encrypt his messages. Can you decrypt this message?</p>
<p>KMHMNQGVUKBMZWWVCHLHSCSNHXOWBCNODELULK</p>
<h4>Submission:</h4>
<form action="">
Answer: <input type="text" name="submission" value=""><br>
<input type="submit" value="Submit">
</form>
<p>&#169; DMM, 2018</p>
</body>
</html>