<h1 id="questionkidsliningup">Question: Kids Lining Up. 100 points</h1>

<h4 id="wearegivenalistofintegersasinputthislistrepresentsagroupofchildrenwhoaretryingtoformlinesandeachintegerinthislistrepresentstheheightofachildchildrenformlinesinaccordancetothisrulethefirstchildformshisownlinetheneverynextchildcanonlychoosetojoinalineinwhichtheymustbestrictlytallerthanthepersonaheadoftheminlineiftheycannotfindsuchalinetheywillformtheirowngivenalistofchildrenfindtheminimumnumberoflinestheycanmake">We are given a list of integers as input. This list represents a group of children who are trying to form lines, and each integer in this list represents the height of a child. Children form lines in accordance to this rule: the first child forms his own line. Then, every next child can only choose to join a line in which they must be strictly shorter than the person ahead of them in line. If they cannot find such a line, they will form their own. Given a list of children, find the minimum number of lines they can make.</h4>

<h5 id="examplegiven123return3given324return2">Example: Given [1, 2, 3], return 3. Given [3, 2, 4], return 2.</h5>

<h5 id="implement">Implement:</h5>

<p>
public int getMinNumberLines(int[] children) {</p>

<p>}</p>