<h1 id="questioncuttinglogs">Question: Cutting Logs. 150 points</h1>

<h4 id="youownalogsellingcompanyyouhaveaninventoryoflogsandasetofordersforlogsofspecificlengthsyouareallowedtocutyourlogsintosmallerpiecesbutcannotgluelogstogethergivenyourinventoryandanorderoflogsreturnwhetherornotyoucanfulfilltheorder">You own a log selling company. You have an inventory of logs, and a set of orders for logs of specific lengths. You are allowed to cut your logs into smaller pieces, but cannot glue logs together. Given your inventory and an order of logs, return whether or not you can fulfill the order.</h4>

<h5 id="examplegivenyourinventoryof11041andanorderof55returntruegivenaninventoryof1684andanorderof67returnfalse">Example: Given your inventory of [1, 10, 4, 1] and an order of [5, 5] return true. Given an inventory of [1, 6, 8, 4] and an order of [6, 7] return false.</h5>

<h5 id="implement">Implement:</h5>

<p>public boolean canIFulfillOrder(int[] inventory, int[] order) {
}</p>