<html>
<head>
<title>Ballmer's Peak</title>
</head>
<body>
<h1>Ballmer's Peak</h1>
<h4>Algorithm questions:</h4>
<ul>
	<li><a href="/algo1">Question 1</a></li>
	<li><a href="/algo2">Question 2</a></li>
	<li><a href="/algo3">Question 3</a></li>
	<li><a href="/algo4">Question 4</a></li>
	<li><a href="/algo5">Question 5</a></li>
	<li><a href="/algo6">Question 6</a></li>
	<li><a href="/algo7">Question 7</a></li>

</ul>
<h4>CTF Questions:</h4>
<ul>
	<li><a href="/ctf1">Question 1</a></li>
	<li><a href="/ctf2">Question 2</a></li>
</ul>
<p>&#169; DMM, 2018</p>
</body>
</html>