<h1 id="questionskiing">Question: Skiing. 50 points</h1>

<h4 id="youaregoingskiingandtherearemanydifferentmountainstopickfrominyourinputtheithelementrepresentstheheightoftheithmountainyoucanstartskiingfromanymountainbutyoucanonlymovefrommountaintomountainusingtheserules1ifthemountainhasheight0youmuststopskiing2ifthereisnomoremountaintotherightofyouyoumuststopskiingreturnthemaximumtotalheightofallofthemountainsyouareabletoski">You are going skiing and there are many different mountains to pick from. In your input, the i-th element represents the height of the i-th mountain. You can start skiing from any mountain but you can only move from mountain to mountain using these rules: 1. If the mountain has height &lt;= 0, you must stop skiing. 2. If there is no more mountain to the right of you, you must stop skiing. Return the maximum total height of all of the mountains you are able to ski.</h4>

<h5 id="examplegiven161return8given15010return10">Example: Given [1, 6, 1], return 8. Given [1, 5, 0, 10], return 10.</h5>

<h5 id="implement">Implement:</h5>

<p>public int ski(int[] mountains) {
}</p>